body {
  color:#131516;
  margin: 40px auto;
  max-width: 800px;
  font-family: 'Lato', helvetica, sans-serif, arial;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  font-size: 44px;
  color: #AD2A1A;
}

/*section.text, section.grids, section.notes {
  float: right;
}*/

.highlights .stat {
  float: left;
  display: inline-block;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em;
}

.highlights .stat .big {
  display: block;
  font-size: 3.3em;
  font-weight: bold;
  color: #9A2617;
}

.subtext {
  color: #7e7e7e;
}

span.emphasis {
  /*color: #093145;*/
  color: white;
  background-color: #093145;
}

.univ-female, .univ-male {
  width: 140px;
  height: 140px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  position:relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #a3a3a3;
}

img {
  width: 140px;
  height: 140px;
}

h3,p {
  margin-left: 10px;
}

h3 {
  color: #AD2A1A;
}

div.tooltip {
  position: absolute; 
  text-align: center;
  font-size: 18px;
  width: 200px;  
  height: auto;   
  padding: 7px; 
  font: 12px 'Lato';  
  background: #e9e9e9; 
  border: 0px;          
  border-radius: 3px;
}

div.tooltip:after {
  display: inline;
  width: 100%;
  line-height: 1;
  color: #EDE3D1;
  position: absolute;
  text-align: center;
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}


.table-like {
  background: #DDD;
  max-width: 800px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* clear fix */
.table-like:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- vertical table-like ---- */

.table-like__item {
  width: 100%;
  clear: both;
  border-top: 1px solid;
}


.table-like__item > * {
  display: inline-block;
  padding: 4px 4px;
  text-align: center;
}

.table-like__item .univ { width: 30%; }
.table-like__item .female { width: 30%; }
.table-like__item .rank { width: 30%; }

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }




@media (max-width: 767px) {
    /* phones */

    body {
      color:#131516;
      margin: 40px auto;
      font-family: 'Lato', helvetica, sans-serif, arial;
      background-color: #f9f9f9;
    }

    h1 {
      text-align: center;
      font-size: 36px;
      color: #AD2A1A;
    }

    #grid-female {
      margin: 0 auto;
     position: relative;
    }

    div.univ-female, div.univ-male {
      width: 300px;
      height: 300px;
      margin: 5px auto;
      display: inline-block;
      overflow: hidden;
      position:relative;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px #a3a3a3;
    }

    img {
      width: 200px;
      height: 200px;
    }

}