* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color:#131516;
  margin: 40px auto;
  max-width: 800px;
  font-family: 'Lato', helvetica, sans-serif, arial;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  font-size: 44px;
  color: #AD2A1A;
}

.line {
  display: block;
}

section.text, section.grids, section.notes {
  float: right;
}

.highlights .stat {
  float: left;
  display: inline-block;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em;
}

.highlights .stat .big {
  display: block;
  font-size: 3.3em;
  font-weight: bold;
  color: #9A2617;
}

.subtext {
  color: #7e7e7e;
}

span.emphasis {
/*  color: white;
  background-color: #093145;*/
  font-weight: bold;
}

.univ-female, .univ-male {
  width: 140px;
  height: 140px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  position:relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #a3a3a3;
}

img {
  width: 50px;
  height: 50px;
  margin: 16px 0 0 0;
}

h3, p {
  margin-left: 10px;
}

h3 {
  color: #AD2A1A;
}

p {
  font-size: 1.2em;
}


.table-like {
  max-width: 800px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* clear fix */
.table-like:after {
  content: '';
  display: block;
  clear: both;
}

#univ-name {
  width: 30%;
  text-align: center;
  vertical-align: middle;
}

#us-r {
  width: 25%;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
}

#fem-p {
  width: 25%;
  text-align: center;
  vertical-align: middle;
  margin-left: 80px;
}

/* ---- vertical table-like ---- */

.table-like__item {
  width: 100%;
  clear: both;
  border-top: 1px solid #939393;
}

.table-like__item > * {
  display: inline-block;
  padding: 4px 4px;
}

.table-like__item .univ { 
  width: 35%;
  vertical-align: middle;
  padding-left: 16px;
  padding-bottom: 44px;
}
.table-like__item .female { 
  width: 20%; 
  text-align: center;
  vertical-align: middle;
  padding-bottom: 44px;
}
.table-like__item .rank { 
  width: 20%;
  text-align: right;
  vertical-align: middle;
  padding-bottom: 44px;
}

/*.table-like__item .logo { 
  text-align: center;
  display: inline;
  margin: 4px 4px;
}*/

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  margin: 2em 2em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: 'Lato';
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

@media screen and (max-width: 960px) {
    body {
      max-width: 700px;
    }
}


@media screen and (max-width: 768px) {
    body {
      max-width: 650px;
    }

    h1 {
      font-size: 36px;
    }
}

@media screen and (max-width: 640px) {
    body {
      max-width: 500px;
    }
    
    .highlights .stat .big {
      font-size: 2em;
    }
    
    p.subtext {
      font-size: 1em;
    }

    h1 {
      font-size: 36px;
    }

    #us-r {
      margin-left: 0;
    }

    #fem-p {
      margin-left: 80px;
    }
}


@media screen and (max-width: 480px) {
    body {
      max-width: 380px;
    }

    h1 {
      font-size: 30px;
    }

    #fem-p {
      margin-left: 40px;
    }

    .table-like__item .rank {
      text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  
  body {
    max-width: 300px;
    margin: 20px auto;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 0.8em;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 16px 0 0 0;
  }

  .button {
    display: inline-block;
    margin: 1.1em 1.1em;
    font-size: 14px;
  }

  .highlights .stat .big {
    font-size: 2em;
  }

  p.subtext {
    font-size: 0.5em;
  }

  .table-like__item .univ { 
    padding-left: 8px;
    padding-bottom: 32px;
  }
  .table-like__item .female { 
      padding-bottom: 32px;
    }
  .table-like__item .rank { 
      padding-bottom: 32px;
    }
}